<div mat-dialog-title class="dialog-title">
  <div>Add Company</div>
  <div><button mat-icon-button class="close-btn" mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="addCompanyForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput formControlName="company" required />
      </mat-form-field>
    </div>
    <div class="form-field job-link-field">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Job Link</mat-label>
        <input matInput formControlName="jobLink" required />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Job ID</mat-label>
        <input matInput formControlName="jobId" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-checkbox formControlName="applied">Applied</mat-checkbox>
    </div>
    <div class="form-field">
      <mat-checkbox formControlName="referred">Referred</mat-checkbox>
    </div>
    <div class="form-field" *ngIf="addCompanyForm.get('referred')?.value">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Who</mat-label>
        <input matInput formControlName="who" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [disabled]="addCompanyForm.invalid" (click)="onSubmit()"
    cdkFocusInitial>Add</button>
</mat-dialog-actions>