.form-field {
    margin-bottom: 16px;
}

.full-width {
    width: 100%;
}

/* Specifically increase the width for job link field */
/* .job-link-field {
    min-width: 650px !important;
    max-width: 100%;
}

@media (max-width: 500px) {
    .job-link-field {
        min-width: 0;
        width: 100%;
    }
} */

.dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
   margin: 5px;
  color: #888;
}

.close-btn:hover {
  color: #d32f2f;
  background: rgba(211,47,47,0.08);
}